<!DOCTYPE html>
<html>
  <head>
    <title>AdvancedQueriesWithActiveRecord</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://unpkg.com/mustard-ui@latest/dist/css/mustard-ui.min.css">
  </head>

  <body>
    <div class="container-large">
      <%= yield %>
    </div>
  </body>
</html>
