<div class="row">
  <div class="col">
    <p id="notice"><%= notice %></p>
  </div>
  <div class="col">
    <h1>Accounts</h1>
  </div>
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th># Orders</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account.name %></td>
            <td><%= account.orders.count %></td>
            <td><%= link_to 'Show', account %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
